body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #111;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding-top: 110px;
    text-align: center;
}

.scooter-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    
}

.scooter-kort {
    background-color: white;
    width: 230px;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    width: 250px;
}



.scooter-kort img {
    width: 160px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.info-box {
    margin: 45px auto;
    width: 400px;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.info-box ul {
    text-align: left;
}

.hyr-btn {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    background-color: #00c853;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.rent-btn:hover {
    background-color: #00c853;
}

.hidden {
    display: none;
}
.login-box {
    background-color: white;
    width: 360px;
    margin: 120px auto;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
}

.login-box h1 {
    margin-bottom: 10px;
    color: black;
}

.login-box p {
    margin-bottom: 30px;
    color: lightslategray;
}


.login-box form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.login-box label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid lightgray;
    font-size: 15px;
}

.login-box input[type="text"]:focus,
.login-box input[type="password"]:focus {

    border-color: #00c853;
}


.login-box input[type="submit"] {
    margin-top: 25px;
    padding: 12px;
    background-color: #00c853;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.login-box input[type="submit"]:hover {
    background-color: #00b34a;
}


.error {
    color: red; /*DEN BLIR INTE RÖD MANNEN*/
    font-weight: bold;
    margin-top: 10px;

}


.hidden {
    display: none;
}
