body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: lightblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: white;
    padding: 30px;
    width: 320px;
    border-radius: 12px;
    text-align: center;
}

.login-box h1 {
    margin-bottom: 5px;
}
